h1{text-align: center;
    color: rgb(39, 103, 128);
    font-style: oblique;
    font-family: fantasy;
    font-size: 80px;
    
    background-color: rgb(5, 1, 1);

}
    body{background-color: rgb(241, 207, 234);}
    a{font-size: 40px;
    }

img{
width: 300px;




}
H2{
font-family: fantasy;





}


body{
background-color: antiquewhite;


}